* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: var(--font-size);
}

body {
    background: var(--color-primary);
    /* min-width: 300px; */
    min-width: 900px;
    line-height: 1.5;
}

.main {
    position: relative;
    height: 100vh;
}

.content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background: var(--color-white);
    color: var(--color-grey);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
}

.bg-btn {
    border-radius: .5rem;
    padding: 1.5rem 7rem;
}

.bg-btn:active,
.bg-btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.main__langs {
    display: flex;
    justify-content: space-between;
}

.sm-btn {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

}

.sections {
    height: 100vh;
    padding-top: 3rem;
    position: relative;
    /* display: none; */
}

.sections__fn-btns {
    display: flex;
    justify-content: space-between;
}

.langs-right {
    display: flex;
    justify-content: flex-end;
}

.sections__btns {
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 2.5rem;;
}

.sections_wrap {
    display: flex;
}

.section-1, .section-2, .section-3, .section-4 {
    /* height: 100vh; */
    padding-top: 3rem;
    position: relative;
}

.btns-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.section-btn-wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.section-btn {
    transform: translateX(50%);
}

.section-1__content, .section-2__content, .section-3__content, .section-4__content {
    display: flex;
}

.section-1__text, .section-2__text, .section-3__text, .section-4__text {
    width: 50%;
    background: rgba(255,255,255,0.9);
    font-size: 1.6rem;
    padding: 2.5rem;
    margin-left: 2.5rem;
    color: var(--color-grey);
}


.section-1__gallery, .section-2__gallery, .section-3__gallery, .section-4__gallery {
    width: 50%;
    padding: 0 2.5rem;
}

.section-1__gallery img, .section-2__gallery img, .section-3__gallery img, .section-4__gallery img {
    width: 48%;
    display: inline-block;
}

.heading {
    margin-bottom: 1.5rem;
}

.margin-bottom {
    margin-bottom: var(--marginY);
}

.margin-top {
    margin-top: var(--marginY);
}

.margin-right {
    margin-right: var(--marginX);
}

.margin-left {
    margin-left: var(--marginX);
}

.active {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}