
* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

a {
    text-decoration: none;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: var(--font-size);
}

body {
    background: var(--color-primary);
    min-width: 576px;
    line-height: 1.5;
}

.main {
    position: relative;
    height: 100vh;
    display: block;
}

.content {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn {
    background: var(--color-white);
    color: var(--color-grey);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
}

.bg-btn {
    border-radius: .5rem;
    padding: 1.5rem 7rem;
}

.bg-btn:active,
.bg-btn:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.main__langs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sm-btn {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

}

.sections {
    height: 100vh;
    padding-top: 3rem;
    position: relative;
    min-width: 576px;
}

.sections__fn-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.langs-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.sections__btns {
    width: 100%;
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
    text-align: center;
    padding: 0 2.5rem;;
}

.sections_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-1, .section-2, .section-3, .section-4 {
    padding-top: 3rem;
    position: relative;
}

.btns-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.section-btn-wrap {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.section-btn {
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}

@media (max-width: 900px) {
    .section-btn-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .section-btn {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        margin-left: var(--marginX);
    }
}

.section-1__content, .section-2__content, .section-3__content, .section-4__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-1__text, .section-2__text, .section-3__text, .section-4__text {
    width: 50%;
    background: rgba(255,255,255,0.9);
    font-size: 1.6rem;
    padding: 2.5rem;
    margin-left: 2.5rem;
    color: var(--color-grey);
}


.section-1__gallery, .section-2__gallery, .section-3__gallery, .section-4__gallery {
    width: 50%;
    padding: 0 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.img-cont {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    width: 50%;
    margin-bottom: var(--marginY);
}

.section-1__gallery img, .section-2__gallery img, .section-3__gallery img, .section-4__gallery img {
    display: block;
    width: 100%;
}

@media (max-width: 691px) {
    .sections__fn-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .sections__back-btn {
        text-align: center;
        margin-bottom: var(--marginY);
    }

    .sections__back-btn .back-btn {
        margin-left: 0 !important;
    }

    .sections__langs-right {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       -webkit-transform: translateX(1.5rem);
           -ms-transform: translateX(1.5rem);
               transform: translateX(1.5rem);
    }

    .sections__btns {
        position: relative;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    }
}

@media (max-width: 796px) {
    .section-btn {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        margin-left: 0;
        margin-right: var(--marginX);
    }
    .section-1, .section-2, .section-3, .section-4 {
        padding: 2.5rem;
    }
    .section-1__content, .section-2__content, .section-3__content, .section-4__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .section-1__text, .section-2__text, .section-3__text, .section-4__text {
        width: 100%;
        margin-left: 0;
        margin-bottom: var(--marginY);
    }

    .section-1__gallery, .section-2__gallery, .section-3__gallery, .section-4__gallery {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 683px) {
    .btns-wrap {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .section-1__btn-back, .section-2__btn-back, .section-3__btn-back, .section-4__btn-back {
        margin-bottom: var(--marginY);
    }
}

.heading {
    margin-bottom: 1.5rem;
}

.margin-bottom {
    margin-bottom: var(--marginY);
}

.margin-top {
    margin-top: var(--marginY);
}

.margin-right {
    margin-right: var(--marginX);
}

.margin-left {
    margin-left: var(--marginX);
}

.active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}