:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #55c57a;
    --color-grey: #777;
    --marginY: 3rem;
    --marginX: 2.5rem;
}

html {
    --font-size: 62.5%;
}

@media (max-width: 576px) {
    html {
        --font-size: 50%;
    }
}

@media (max-width: 1800px) {
    html {
        --font-size: 75%;
    }
}